<h1 style="text-align: center;">Database Connectivity</h1>
<br>
<ul>
    <h5>
        <li>Install Xampp Control Pannel</li>
    <li>Start Apache and MySQL Servers</li>
    <li>Create a Database and make a Table in it named 'users'</li>
    <li>Rows in the table</li>
    <span style="color: red; font-weight:bold">
    Id - auto_increment - Primary Key ,
    Name - varchar(30) , 
    Email - varchar(50) , 
    Phone - varchar(12) , 
    City - varchar(20)
    </span>
    </h5>
    <br>
    <h3 style="text-align: center;"><a style="text-decoration: none;" href="/">Run the Project</a></h3>
</ul>