<div style="text-align:center">
<h1 >Database Not Connected</h1>
<p >Kindly connect your Database to use this Project</p>
<a href="/connect/database" style="text-decoration:none">Connect Database</a>
</div>