<div style="text-align: center;">
<h1>Employee Added Successfully</h1>
<br>
<div class="row">
    <div class="col-sm-4">
        <h4><a style="text-decoration: none;" href="/employee/insert" class="btn btn-outline-success">Add More</a></h4>
    </div>
    <div class="col-sm-4">
        <h4><a style="text-decoration: none;" href="/employee" class="btn btn-outline-primary">View Employee</a></h4>
    </div>
    <div class="col-sm-4">
        <h4><a style="text-decoration: none;" href="/" class="btn btn-outline-danger">Go to Home</a></h4>
    </div>
</div>
</div>