<h1 style="text-align: center;">Employee Management System</h1>
<hr>
<br>

<div class="d-grid gap-2">
  <a class="btn btn-lg btn-outline-success" href="/employee/insert">Add Employee</a>
  <a class="btn btn-lg btn-outline-info" href="/employee">Show all Employee</a>
  <a class="btn btn-lg btn-outline-light" href="/employee/update">Update Employee</a>
  <a class="btn btn-lg  btn-outline-danger" href="/employee/delete">Delete Employee</a>
</div>